.cruises {
  margin-bottom: 83px;
}

.cruises__wrapper {
  padding: 110px 0 0;

  h2 {
    @include clear-content(49px);
    @include font(28px, 42px);
    font-weight: 600;
    text-align: center;
    color: $text-color;
  }
}

.cruises__list {
  @include clear-list;
  /*grid-column-width * 4 + gap*3*/
  width: 1130px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 260px);

  @media (max-width: 1150px) {
    /*grid-column-width * 4 + gap*3*/
    width: 990px;
    grid-template-columns: repeat(4, 240px);
    gap: 10px;
  }
}

.cruises__item {
  position: relative;
  width: 100%;
  max-height: 386px;
  cursor: pointer;

  &:hover {
    .cruises__item-front {
      visibility: hidden;
    }

    .cruises__item-back {
      position: absolute;
      top: 0;
      visibility: visible;
    }
  }
}

.cruises__item-front {
  display: block;
  width: 100%;
  height: 100%;

  figure {
    @include clear-content(0);
    position: relative;
    width: 100%;
    height: 100%;
  }

  figcaption {
    @include font(18px, 27px);
    position: absolute;
    bottom: 27px;
    left: 30px;
    font-weight: 500;
    color: $text-white;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.cruises__item-back {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 70px 25px 35px;
  background-color: $text-color;
  visibility: hidden;

  h3 {
    @include clear-content(0);
    @include font(18px, 27px);
    position: absolute;
    top: 28px;
    left: 25px;
    font-weight: 500;
    color: $text-white;
  }

  dl {
    @include clear-content(0);
    @include font(14px, 20px);
  }

  dt {
    font-weight: 500;
    color: $text-white;
  }

  dd {
    @include clear-content(12px);
    color: $text-grey;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $tablet) {
  .cruises {
    margin-bottom: 83px;
  }

  .cruises__wrapper {
    padding: 90px 60px 0;

    h2 {
      @include font(26px, 39px);
    }
  }

  .cruises__list {
    width: 648px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 309px);
  }

  .cruises__item-front {
    figure {
      min-width: 309px;
      height: 100%;
    }

    figcaption {
      bottom: 32px;
      left: 34px;
    }
  }

  .cruises__item-back {
    padding: 70px 35px 35px;

    h3 {
      top: 29px;
      left: 37px;
    }
  }
}

@media (max-width: $mobile) {
  .cruises {
    margin-bottom: 31px;
  }

  .cruises__wrapper {
    padding: 55px 25px 0;

    h2 {
      @include font(24px, 36px);
      margin-bottom: 32px;
    }
  }

  .cruises__list {
    width: 270px;
    grid-template-columns: 270px;
  }

  .cruises__item {
    width: 100%;
  }

  .cruises__item-front {
    figure {
      min-width: 270px;
    }

    figcaption {
      bottom: 22px;
      left: 25px;
    }
  }

  .cruises__item-back {
    padding: 69px 25px 35px;

    h3 {
      left: 25px;
    }
  }
}
