.cruises {
  margin-bottom: 83px;
}

.cruises__wrapper {
  padding: 110px 15px 0;

  h2 {
    @include clear-content(49px);
    @include font(28px, 42px);
    font-weight: 600;
    text-align: center;
    color: $text-color;
  }
}

.cruises__list {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cruises__item {
  position: relative;
  width: 23%;
  min-height: 386px;
  margin-bottom: 29px;
  cursor: pointer;

  &:hover {
    .cruises__item-front {
      display: none;
    }

    .cruises__item-back {
      display: flex;
    }
  }
}

.cruises__item-front {
  display: block;
  width: 100%;
  height: 100%;

  figure {
    @include clear-content(0);
    position: relative;
    min-width: 260px;
    height: 386px;
  }

  figcaption {
    @include font(18px, 27px);
    position: absolute;
    bottom: 27px;
    left: 30px;
    font-weight: 500;
    color: $text-white;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.cruises__item-back {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 70px 25px 35px;
  background-color: $text-color;

  h3 {
    @include clear-content(0);
    @include font(18px, 27px);
    position: absolute;
    top: 28px;
    left: 25px;
    font-weight: 500;
    color: $text-white;
  }

  dl {
    @include clear-content(0);
    @include font(14px, 20px);
  }

  dt {
    font-weight: 500;
    color: $text-white;
  }

  dd {
    @include clear-content(12px);
    color: $text-grey;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $tablet) {
  .cruises {
    margin-bottom: 83px;
  }

  .cruises__wrapper {
    padding: 90px 60px 0;

    h2 {
      @include font(26px, 39px);
    }
  }

  .cruises__item {
    width: 48%;
    margin-bottom: 31px;
  }

  .cruises__item-front {
    figure {
      min-width: 309px;
      height: auto;
    }

    figcaption {
      bottom: 32px;
      left: 34px;
    }
  }

  .cruises__item-back {
    padding: 70px 35px 35px;

    h3 {
      top: 29px;
      left: 37px;
    }
  }
}

@media (max-width: $mobile) {
  .cruises {
    margin-bottom: 31px;
  }

  .cruises__wrapper {
    padding: 55px 25px 0;

    h2 {
      @include font(24px, 36px);
      margin-bottom: 32px;
    }
  }

  .cruises__item {
    width: 100%;
  }

  .cruises__item-front {
    figure {
      min-width: 270px;
    }

    figcaption {
      bottom: 22px;
      left: 25px;
    }
  }

  .cruises__item-back {
    padding: 69px 25px 35px;

    h3 {
      left: 25px;
    }
  }
}
