.feature {
  width: 100%;
  height: 562px;
  background-image: url("../img/feature-bg-desktop@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/feature-bg-desktop@2x.jpg");
  }
}

.feature__wrapper {
  padding: 110px 0 0 0;
}

.feature__title {
  @include clear-content(50px);
  @include font(28px, 42px);
  font-weight: 600;
  text-align: center;
  color: $text-color;
}

.feature__list {
  @include clear-list;
  display: flex;
  justify-content: space-between;
}

.feature__item {
  width: 31%;
  min-height: 241px;
  padding: 80px 20px 25px 30px;
  background-color: $text-white;

  &--one {
    .feature__item-title::before {
      top: -51px;
      left: -4px;
      width: 27px;
      height: 34px;
      content: url("../img/feature-one.svg");
    }
  }

  &--two {
    padding-right: 49px;

    .feature__item-title::before {
      top: -46px;
      width: 38px;
      height: 21px;
      content: url("../img/feature-two.svg");
    }
  }

  &--three {
    .feature__item-text {
      padding-right: 60px;
    }

    .feature__item-title::before {
      top: -47px;
      width: 42px;
      height: 15px;
      content: url("../img/feature-three.svg");
    }
  }
}

.feature__item-title {
  @include clear-content(8px);
  @include font(18px, 27px);
  position: relative;
  font-weight: 500;
  color: $text-color;

  &::before {
    position: absolute;
    left: 0;
  }
}

.feature__item-text {
  @include clear-content(0);
  @include font(14px, 20px);
  color: $text-color;
}

@media (max-width: $tablet) {
  .feature {
    height: 588px;
    background-image: url("../img/feature-bg-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/feature-bg-tablet@2x.jpg");
    }
  }

  .feature__wrapper {
    padding: 87px 42px 0;
  }

  .feature__title {
    @include font(26px, 39px);
  }

  .feature__item {
    padding: 74px 20px 20px 22px;

    &--one {
      .feature__item-title::before {
        width: 21px;
        height: 26px;
      }
    }

    &--two {
      .feature__item-title::before {
        width: 33px;
        height: 19px;
      }
    }

    &--three {
      .feature__item-text {
        padding-right: 3px;
      }

      .feature__item-title::before {
        top: -44px;
        width: 38px;
        height: 13px;
      }
    }
  }

  .feature__item-title {
    @include font(18px, 25px);
  }
}

@media (max-width: $mobile) {
  .feature {
    height: auto;
    padding-bottom: 37px;
    background-image: url("../img/feature-bg-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/feature-bg-mobile@2x.jpg");
    }
  }

  .feature__wrapper {
    padding: 57px 15px 0;
  }

  .feature__title {
    @include font(24px, 36px);
    margin-bottom: 30px;
  }

  .feature__list {
    flex-direction: column;
  }

  .feature__item {
    width: 100%;
    margin-bottom: 30px;
    padding: 71px 20px 20px 20px;

    &--one {
      .feature__item-title::before {
        left: -7px;
      }
    }

    &--two {
      .feature__item-title {
        padding-right: 35px;

        &::before {
          left: -2px;
          top: -44px;
        }
      }
    }

    &--three {
      .feature__item-title {
        padding-right: 50px;
      }

      .feature__item-text {
        padding-right: 3px;
      }

      .feature__item-title::before {
        top: -42px;
        left: -2px;
      }
    }
  }

  .feature__item-title {
    line-height: 25px;
  }
}
