.feedback {
  width: 100%;
  min-height: 555px;
  background-image: url("../img/form-bg-desktop@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/form-bg-desktop@2x.jpg");
  }
}

.feedback__wrapper {
  padding: 50px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__text-wrapper {
  width: 49%;
  color: $text-color;
}

.feedback__title {
  @include clear-content(7px);
  @include font(40px, 60px);
  font-weight: 700;
}

.feedback__text {
  @include clear-content(0);
  @include font(18px, 27px);
  padding-right: 150px;
}

.feedback__form {
  width: 403px;
  min-height: 455px;
  padding: 44px 50px 48px;
  background-color: $text-color;
}

.feedback__form-text {
  @include clear-content(27px);
  @include font(18px, 27px);
  font-weight: 500;
  color: $text-white;
}

.feedback__form-input {
  width: 100%;
  margin-bottom: 17px;
  padding: 12px;

  &::placeholder {
    @include font(14px, 21px);
    color: $text-color;
  }
}

.feedback__form-label {
  @include font(10px, 13px);
  position: relative;
  margin-bottom: 31px;
  padding: 4px 0 0 22px;
  display: block;
  color: $text-white;
  cursor: pointer;
  user-select: none;

  &::before {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 1px;
    left: 0;
    content: "";
    background-color: $text-white;
  }
}

.feedback__form-input--checkbox:checked + .feedback__form-label::after {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 5px;
  font-size: 13px;
  content: "\2228";
  color: $checkbox-color;
}

@media (max-width: $tablet) {
  .feedback {
    min-height: 805px;
    background-image: url("../img/form-bg-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/form-bg-tablet@2x.jpg");
    }
  }

  .feedback__wrapper {
    padding: 88px 60px 0;
    flex-direction: column;
  }

  .feedback__text-wrapper {
    width: 100%;
    text-align: center;
  }

  .feedback__title {
    @include font(34px, 51px);
  }

  .feedback__text {
    margin-bottom: 50px;
    padding: 0 135px;
  }
}

@media (max-width: $mobile) {
  .feedback {
    min-height: 760px;
    padding-bottom: 37px;
    background-image: url("../img/form-bg-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/form-bg-mobile@2x.jpg");
    }
  }

  .feedback__wrapper {
    padding: 59px 15px 0;
  }

  .feedback__title {
    @include font(24px, 31px);
    margin-bottom: 15px;
  }

  .feedback__text {
    @include font(16px, 22px);
    margin-bottom: 32px;
    padding: 0;
  }

  .feedback__form {
    width: 100%;
    padding: 35px 30px 40px;
  }

  .feedback__form-text {
    line-height: 25px;
    text-align: center;
  }

  .feedback__form-label {
    margin-bottom: 25px;
    padding: 0 0 0 28px;

    &::before {
      width: 20px;
      height: 20px;
    }
  }
}
