.hero {
  min-height: 685px;

  @media (min-width: $desktop) and (max-width: 1100px) {
    min-height: calc(685px - 25vh);
  }

  @media (min-width: 1101px) and (max-width: 1200px) {
    min-height: calc(685px - 20vh);
  }

  @media (min-width: 1201px) and (max-width: 1300px) {
    min-height: calc(685px - 15vh);
  }

  @media (min-width: 1301px) and (max-width: 1366px) {
    min-height: calc(685px - 10vh);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    max-height: 650px;
    width: 100%;
    object-fit: cover;
  }
}

.hero__wrapper {
  padding: 185px 20px 0 95px;

  h1 {
    @include clear-content(12px);
    @include font(54px, 66px);

    font-weight: 700;
    color: $text-white;
  }

  p {
    @include font(20px, 24px);
    @include clear-content(0);

    font-weight: 400;
    color: $text-white;
  }
}

@media (max-width: $tablet) {
  .hero {
    min-height: 660px;

    img {
      max-height: 638px;
    }
  }

  .hero__wrapper {
    padding: 200px 20px 0 45px;

    h1 {
      @include font(50px, 61px);
    }

    p {
      @include font(18px, 22px);
    }
  }
}

@media (max-width: $mobile) {
  .hero {
    min-height: 460px;

    img {
      max-height: 500px;
    }
  }

  .hero__wrapper {
    padding: 79px 20px 0 15px;

    h1 {
      @include font(36px, 45px);
    }

    p {
      @include font(16px, 22px);
      padding-right: 53px;
    }
  }
}
