.hero {
  min-height: 658px;

  > div {
    padding: 158px 95px 0;
  }

  h1 {
    @include clear-content(12px);
    @include font(54px, 66px);

    font-weight: 700;
    color: $text-white;
  }

  p {
    @include font(20px, 24px);
    @include clear-content(0);

    font-weight: 400;
    color: $text-white;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 650px;
    width: 100%;
  }
}

@media (max-width: $tablet) {
  .hero {
    min-height: 675px;

    > div {
      padding: 214px 46px 0;
    }

    h1 {
      @include font(50px, 61px);
    }

    p {
      @include font(18px, 22px);
    }

    img {
      height: 638px;
    }
  }
}

@media (max-width: $mobile) {
  .hero {
    min-height: 460px;

    > div {
      padding: 79px 18px 0;
    }

    h1 {
      @include font(36px, 45px);
    }

    p {
      @include font(16px, 22px);
      padding-right: 53px;
    }

    img {
      min-width: 320px;
      height: 500px;
    }
  }
}
