.page-header {
  position: relative;
  background-color: $bg-hero-color;
}

.page-header__wrapper {
  padding: 35px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  width: 70px;
  height: 38px;
  fill: $text-white;
}

.page-header__nav {
  width: 51%;
}

.page-header__toggle {
  display: none;
}

.page-header__menu {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__link {
  @include font(16px, 20px);

  font-weight: 500;
  color: $text-white;
}

@media (max-width: $tablet) {
  .page-header__wrapper {
    padding: 30px 45px 0;
  }

  .page-header__logo {
    width: 38px;
    height: 20px;
  }

  .page-header__nav {
    width: 74%;
  }

  .page-header__link {
    @include font(14px, 17px);
  }
}

@media (max-width: $mobile) {
  .page-header {
    background-color: $text-white;
  }

  .page-header__wrapper {
    min-height: 300px;
    padding: 20px 15px 52px;
    flex-direction: column;
    align-items: flex-start;
  }

  .page-header__logo {
    width: 42px;
    height: 22px;
    fill: $text-color;
  }

  .page-header__toggle {
    position: absolute;
    top: 22px;
    right: 11px;
    z-index: 2;

    display: block;
    width: 22px;
    height: 19px;

    background-color: transparent;

    cursor: pointer;
    border: none;
  }

  .page-header--closed .page-header__toggle::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 25px;
    height: 3px;

    background-color: $text-color;
    box-shadow: 0 8px 0 0 $text-color, 0 16px 0 0 $text-color;
  }

  .page-header--opened .page-header__toggle {
    &::before,
    &::after {
      position: absolute;
      top: 9px;
      right: -2px;

      width: 25px;
      height: 2px;

      background-color: $text-color;
      content: "";
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .page-header__menu {
    flex-direction: column;
  }

  .page-header__link {
    @include font(18px, 22px);

    padding: 10px 0;
    display: block;
    color: $text-color;
  }

  .page-header--closed .page-header__menu {
    display: none;
  }

  .page-header--nojs .page-header__toggle {
    display: none;
  }

  .page-header--nojs .page-header__link {
    display: block;
  }
}
