.promo {
  margin-bottom: 116px;

  > div {
    display: flex;
    justify-content: space-between;

    div {
      width: 50%;
      padding: 56px 45px 0 0;
    }
  }

  h2 {
    @include clear-content(24px);
    @include font(28px, 42px);
    font-weight: 600;
    color: $text-color;
  }

  p {
    @include clear-content(0);
    @include font(16px, 24px);
    color: $text-color;
  }

  img {
    width: 560px;
    height: 301px;
  }
}

@media (max-width: $tablet) {
  .promo {
    margin-bottom: 94px;

    > div div {
      padding: 0 15px 0 45px;
    }

    h2 {
      @include font(26px, 36px);
      margin-bottom: 15px;
      padding-right: 25px;
    }

    p {
      @include font(16px, 24px);
    }

    img {
      width: 324px;
      height: 264px;
      margin: 9px 45px 0 0;
    }
  }
}

@media (max-width: $mobile) {
  .promo {
    margin-bottom: 61px;

    > div {
      flex-direction: column;
      align-items: center;

      div {
        width: 100%;
        margin-bottom: 32px;
        padding: 0 15px;
      }
    }

    h2 {
      @include font(24px, 34px);
    }

    img {
      width: 290px;
      height: 186px;
      margin: 0;
    }
  }
}
