html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
