$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

$wrapper: 1160px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$text-white: #f9fbfd;
$text-color: #011c40;
$text-grey: #d8d8d9;
$bg-hero-color: #003d78;
