$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

$wrapper: 1160px;
$wrapper-min: 320px;
$wrapper-max: 1190px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$text-white: #f9fbfd;
$text-color: #011c40;
$text-grey: #d8d8d9;
$checkbox-color: #101a56;
$bg-hero-color: #003d78;
$feature-bg-color: #dae6f4;
$feedback-bg-color: #bdd7f5;
